$success: #c7f282;
$warning: #f1e681;
$error: #f08181;
$charcoal: #ccc;

$white80: rgba(400, 400, 400, 0.8);

body {
  background: #ecf0f1;
}

select {
  text-align: center;
  text-align-last: center;
  background-color: $white80;
}

button {
  background-color: $white80;
}

.flash-success,
.flash-warning,
.flash-error {
  border: 1px solid $charcoal;
  display: block;
  left: 25%;
  padding: 30px;
  position: fixed;
  text-align: center;
  top: 15%;
  width: 50%;
  z-index: 1;
}

.flash-success {
  background-color: $success;
}

.flash-warning {
  background-color: $warning;
}

.flash-error {
  background-color: $error;
}

.favorites {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.home {
  background-image: url('./images/yosemite_2k-px.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  height: 92vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;

  button {
    width: 30%;
    border-radius: 20px;
    height: 50px;
  }
}

.exploreParks {
  background-image: url('./images/yosemite_2k-px.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  height: 92vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}

.park {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  height: 92vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}

.info {
  p {
    font-size: 20px;
  }

  h6 {
    font-size: 22px;
  }

  background: $white80;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 50%;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  // padding: 10px;
  // margin: 10px;

  select {
    &:focus {
      outline: none;
    }

    width: 30%;
    border-radius: 20px;
    height: 50px;
    margin: 15px 0;
  }

  button {
    &:focus {
      outline: none;
    }
    width: 30%;
    border-radius: 20px;
    height: 50px;
    margin: 15px 0;
  }
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15% auto 0;
  max-width: 600px;

  h3,
  input {
    margin-bottom: 5%;
  }

  button {
    align-self: flex-end;
    max-width: 200px;
  }
}

.parkItem {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: lightgreen;
  padding: 0 20px;
  margin: 10px;
  width: 40%;

  span {
    align-self: center;
  }

  button {
    &:focus {
      outline: none;
    }
    width: 30%;
    border-radius: 20px;
    height: 50px;
    margin: 15px 20px;
  }
}

@media (max-width: 600px) {
  .park {
    height: auto;
    padding: 50px 0 0 0;
  }

  .parkItem {
    width: inherit;

    span {
      width: 55%;
    }

    button {
      width: 40%;
      margin: 15px 0;
    }
  }

  .favorites {
    flex-direction: column;
    padding: 0;
  }

  .info {
    width: 90%;
  }

  .buttons {
    select {
      width: 80%;
    }

    button {
      width: 80%;
    }
  }
}
